Repository rory-data/cookiecutter-uv-dataeng: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-statements, check-json, pretty-format-json, check-toml, check-yaml, ruff, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-case-conflict
        name: Check case conflict
        entry: check-case-conflict
        language: system
        types: [file]

      - id: check-merge-conflict
        name: Check merge conflict
        entry: check-merge-conflict
        language: system
        types: [file]

      - id: end-of-file-fixer
        name: Fix end of files
        entry: end-of-file-fixer
        language: system
        types: [file]

      - id: debug-statements
        name: Debug statements
        entry: debug-statement-hook
        language: system
        types: [python]

      - id: mixed-line-ending
        name: Mixed line ending
        entry: mixed-line-ending
        language: system
        types: [text]

      - id: trailing-whitespace
        name: Trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system

      - id: check-json
        name: Check JSON
        entry: check-json
        language: system
        types: [json]

      - id: pretty-format-json
        name: Format JSON
        entry: pretty-format-json
        language: system
        types: [json]
        args: [--autofix]

      - id: check-toml
        name: Check TOML
        entry: check-toml
        language: system
        types: [toml]

      - id: check-yaml
        name: Check YAML
        entry: check-yaml
        language: system
        types: [yaml]

      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: [--fix]

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]

Updating template ruff rules and precommit
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
Due: check-toml, check-yaml

Update parent ruff rules and precommit
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml

Fix typing errors
  cookiecutter_uv_dataeng/cli.py
  hooks/post_gen_project.py
  hooks/pre_gen_project.py
  pyproject.toml
  tests/test_cookiecutter.py
  uv.lock
  {{cookiecutter.project_name}}/tests/test_foo.py
Due: debug-statements, check-toml, ruff, ruff-format

Fixing subprocess.run
  hooks/post_gen_project.py
  tests/test_cookiecutter.py
Due: debug-statements, ruff, ruff-format

Correct Astro initialisation
  hooks/post_gen_project.py
Due: debug-statements, ruff, ruff-format

Add auto-reply to Astro initialisation
  hooks/post_gen_project.py
Due: debug-statements, ruff, ruff-format
